<div class="row">
	<div class="col-sm">
	  
	</div>
	<div class="col-sm">
	    <div class="wrapper fadeInDown">
			<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Login Form -->
			<%= form_tag('/two/login') do |f| %>
			Email: <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
			Password:  <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
			  <input type="submit" class="fadeIn fourth" value="Log In">
			<% end %>

			</div>
		</div>
	</div>
	<div class="col-sm">
	  
	</div>
</div>
